{% extends "layout.html" %}
{% block body %}
<div id="topbar">
  <div id="topbar_buttons">
    <a href="/playlist"><i class="fa fa-2x fa-bars fa-fw"></i></a>&nbsp;
    <a href="#" onclick="$.get('/api/playback/toggle');"><i class="fa fa-2x fa-pause fa-fw"></i></a>&nbsp;
   </div>
  <div id="info"></div>
  <div id="nowplaying"></div>
</div>

<div id="topspacer"></div>
<div class="container">
<div class="albums">
{% for album in albums %}<div class="wrap"><img src="{{url_for('static', filename='blank.png')}}" data-original="/api/art/{{album.idx}}" data-idx="{{album.idx}}" class="lazy" width="150" height="150"></div>
{% endfor %}
</div>
</div>
<div id="hover"></div>
<div id="overlay"></div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='mainpage.js') }}" type="text/javascript"></script>
{% endblock %}

